.main{
    width: 100%;
}
.container{
    width: 90%;
    margin-top: 30px;
    margin-bottom: 20px;
}
.city{
  /*  width: 15%; */
  margin-right: 2%;
}
.massage{
    color: #878787;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    top: 30%;
    position: absolute;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .city{
        width: 200px;
    }
  }

@media only screen and (min-width: 600px) {
    .city{
        width: 200px;
    }
}

@media only screen and (min-width: 992px) {
    .city{
        width: 300px;
    }
    
}

@media only screen and (min-width: 1200px) {
     .city{
        width: 300px;
    }
    
  }

